<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Telefono:</b>
  <%= @user.telefono %>
</p>

<p>
  <b>Saldo:</b>
  <%= @user.saldo %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
