<h1>Listing razes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @razes.each do |raze| %>
  <tr>
    <td><%= raze.name %></td>
    <td><%= link_to 'Show', raze %></td>
    <td><%= link_to 'Edit', edit_raze_path(raze) %></td>
    <td><%= link_to 'Destroy', raze, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raze', new_raze_path %>
